<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users:</title>
</head>
<body>

<table border="1" width="180" height="50">
    <tr>
        <th>Name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getName()}"></a></td>
        <td><a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getLastName()}"></a> </td>
    </tr>
</table>

<br>
<hr>
<a href="users/new">Create new user</a>
</body>
</html>