<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Человек</title>
</head>
<body>
<table border="1" width="220" height="60">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Age</th>
    </tr>
    <tr>

        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getLastName()}"></td>
        <td th:utext="${user.getAge()}"></td>

    </tr>
</table>
<br>
<br>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Update user info</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete user"/>
</form>
</body>
</html>